* { margin:0; padding:0; }
/*html, body { width:100%; height:100%; }*/
canvas { display:block; overflow: hidden;}
#display-background{ display: block; overflow: hidden;}
body {
  margin: 0px;
  padding: 0px;
  /*width: 300px;
  height: 300px;*/
    overflow: hidden;
}
h1 {
  position: absolute;
  margin-top: 0px;
  padding-top: 0px;
  z-index: 1;
  top: 5%;
}
#health, #armor {
  position: absolute;
  z-index: 1;
  top: 5%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
#health {
  left: 20%;
}
#armor {
  left: 30%;
}

#viewport {
  position: absolute;
  top: 0px;
  left: 0px;
}
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
#background {

}

#movie, #movie2 {
    position: absolute;
    top: 0px;
    left: 0px;
}
#character {
  position: absolute;
  top: 0px;
  left: 0px;
}
#inventory {
  position: absolute;
  bottom: 5%;
  right: 5%;

  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
#fullscreen {
  position: absolute;
  top: 50%;
  left: 40%;
  height: 10%;
  width: 20%;
}
:fullscreen #fullscreen {
  display: none;
}
:-webkit-full-screen #fullscreen {
  display: none;
}
:-moz-full-screen #fullscreen {
  display: none;
}