body {
  margin: 0px;
  padding: 0px;
  /*width: 300px;
  height: 300px;*/
    overflow: hidden;
}
h1 {
  position: absolute;
  margin-top: 0px;
  padding-top: 0px;
  z-index: 1;
}
#viewport {
  position: absolute;
  top: 0px;
  left: 0px;
}
#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
#background {

}

#movie, #movie2 {
    position: absolute;
    top: 0px;
    left: 0px;
}
#character {
  position: absolute;
  top: 0px;
  left: 0px;
}

#inventory {
  position: absolute;
  bottom: 5%;
  right: 5%;
}